/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
    /* This is the parent of the activity 1 boxes. */
    position: relative;
    margin-bottom: 20px;
    display:flex;
    flex-direction: row;
}
.red1 { 
    width: 100px; 
    height: 100px; 
    background-color: red; 
} 
.green1 {
    width: 100px; 
    height: 100px; 
    background-color: green; 
} 
.yellow1 {
    width: 100px; 
    height: 100px; 
    background-color: gold;
} 
.blue1 {
    width: 100px; 
    height: 100px; 
    background-color: blue; 
} 
/* Activity 2 styles */ 
.content2 {
    /* This is the parent of the activity 2 boxes. */
    position: relative;
    padding-bottom:150px;
}
.red2 {
    width: 100px; 
    height: 100px; 
    background-color: red;
    position: static;
} 
.green2 { 
    width: 100px; 
    height: 100px; 
    background-color: green; 
    position:absolute;
    left:50px;
    top: 50px;
} 
.yellow2 {
    width: 100px; 
    height: 100px; 
    background-color: gold;
    position:absolute;
    left:100px;
    top:100px;
} 
.blue2 {
    width: 100px; 
    height: 100px; 
    background-color: blue; 
    position:absolute;
    left:150px;
    top:150px;
} 
/* Activity 3 styles */ 
.content3 {
    /* This is the parent of the activity 3 boxes. */
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}


.red3 {
    width:100%;
    Height:100px;
    background-color: red;

}

.my-row-act3{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    
}
.green3 {
    width:43%;
    height:150px;
    background-color: green;


} 
.yellow3 {
    width:43%;
    height:150px;
    background-color: gold;
}

.blue3 {
    width:100%;
    height:100px;
    background-color: blue;

} 
/* Activity 4 styles */ 
.content4 {
    /* This is the parent of the activity 4 boxes. */
    height: 400px;
    display: flex;
    align-content: center;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
    flex: none 1 auto;
}
/* .yellow-and-blue4{ */
/*     display: flex; */
/*     align-content:center; */
/*     flex-direction:row; */
/* } */

/* .red-and-green4{ */
/*     display: flex; */
/*     align-content:center; */
/*     flex-direction:row; */
    
/* } */
.red4 {
    width: 200px; 
    height: 100px; 
    background-color: red; 
} 

.green4 {
    width: 200px; 
    height: 100px; 
    background-color: green; 
} 
.yellow4 {
    width: 200px; 
    height: 100px; 
    background-color: gold; 
} 
.blue4 {
    width: 200px; 
    height: 100px; 
    background-color: blue; 
} 
/* Activity 5 styles */ 
.content5 {
    /* This is the parent of the activity 5 boxes. */
    height: 400px;
    display: flex;
    flex-flow: row;
    justify-content:center;
    align-content: stretch;
    align-items: stretch;
}

.column-red5{
    align-content: stretch;
    justify-content:flex-start;

}

.column-gyb5{
    align-content: stretch;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    
}
.red5 { 
    width: 200px;
    height: 300px;
    background-color: red; 
} 
.green5 { 
    width: 200px;
    height: 100px; 
    background-color: green; 

} 
.yellow5 {
    width: 200px;
    height: 100px; 
    background-color: gold; 

} 
.blue5 {
    width: 200px;
    height: 100px; 
    background-color: blue; 
} 
/* Activity 6 styles */ 
.content6 {
    /* This is the parent of the activity 6 boxes. */
    position: relative;
}
.red6 {
    width: 600px;
    height: 100px; 
    background-color: red; 
}

.inside6{
    position:absolute;
    height: 300px;
}
.green6 {
    width: 200px; 
    height: 200px; 
    background-color: green;
    float: left;
    z-index:1;
} 
.yellow6 {
    width: 600px;
    height: 350px; 
    background-color: gold;
    z-index:2;

} 
.blue6 {
    position: absolute;
    top: 450px;
    width: 600px;
    height: 100px; 
    background-color: blue; 
} 


/* Do not make any changes below here */
.activity {
    width: 70%; 
    margin: 20px auto; 
    font-family: Arial, sans-serif; 
    border: 1px solid black; 
    padding: 10px;
    clear:both; 
    overflow: auto;
} 

.hint {
    border: 1px solid grey;
    background: #e0e0e0;
    padding: .5em;
    position: relative;
    margin: 1em 0;
}
.hint h3 {
    margin: 0;
}
.hint:hover {
    background: #d0d0d0;
}
.hint > div {
    display: none;
}

.hint input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
    display: block;
}

.hint i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 10px;
    top: -3px;
}
.hint i:before, .hint i:after {
		    content: "";
		    position: absolute;
		    background-color: black;
		    width: 3px;
		    height: 9px;
		}
.hint i:before {
    transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
    transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
    transform: translate(2px, 0) rotate(-45deg);
}